.box{
    width: 6.4rem;
    height: 11.36rem;
    margin: 0 auto;
}
/*头部*/
.head{
    width: 100%;
    height: 0.6rem;
    background: #ff8288;
    font-size: 0.24rem;
    color: #fff;
    text-align: center;
    line-height: 0.6rem;
    overflow: hidden;
}
.tc{
    width: 0.4rem;height: 0.4rem;float: left;
    background: url("../Imgs/ge-01.png") no-repeat;
    background-size:cover ;margin: 0.14rem ;
}
.head p{float: left;padding-left: 2rem;font-size: 0.34rem;}
.content{
    width: 100%;height: 10.76rem;
    background: rgb(253,239,231);overflow: hidden;
}
.criem{width: 1.74rem;height: 1.80rem;background: #fff;border-radius: 50%;
    margin: 0.54rem auto;overflow: hidden;
}
.con-img{width: 0.8rem;height: 0.66rem;margin: 0.5rem auto 0 auto;
    background: url("../Imgs/criminal.png") no-repeat;background-size: cover;
}
.criem p{text-align: center;color: #ccc;font-size: 0.24rem;}
#fm{margin-top: 0.6rem;}
.txt{width: 5.66rem;height: 0.8rem;border-radius: 0.15rem;margin: 0.2rem auto;
    display: block;border: 1px solid #fff;text-indent: 0.3rem;font-size: 0.24rem;
}
.tt{padding: 0.2rem 0;box-sizing: border-box;min-height: 1.46rem;}
.btn{height: 0.9rem;line-height: 0.9rem;background: #ff8288;color: #fff;
    font-size: 0.36rem;
}
